@page "/videogames"
@inject HttpClient Http
<h3>Video Games</h3>

@if(games.Count <= 0)
{
    <span>Loading Video games...</span>
}
else
{
    <QuickGrid Items = "games.AsQueryable()">
        <PropertyColumn Property="g => g.Title"/>
        <PropertyColumn Property="g => g.Publisher" />
        <PropertyColumn Property="g => g.ReleaseYear" />
        <PropertyColumn Property="g => g.Comments" />

    </QuickGrid>
}
<ul>

</ul>

@code {
    List<VideoGame> games = new List<VideoGame>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<VideoGame>>("api/videogame");
        if (result != null)
        {
            games = result;
        }
    }

}
